<% include  ../partials/header %>


<div class="container">
    <div class="row">
<h1 style="text-align: center;"> Confirm details </h1>
        <div style="width: 30%; margin: 30px auto;">
 <form action="/books/<%= book._id %>/buy" method = "POST" class="buydetails-form">
                        
                         <div class="form-group">
                              <label for="exampleInputEmail1">Book Name</label>
                                <input class="form-control" type = "text" name = "buy[name]" value = "<%= book.name %>" readonly="readonly"> 
                        </div>
     
                          <div class="form-group">
                              <label for="exampleInputEmail1">Condition</label>
                                <input class="form-control" type = "text" name = "buy[condition]" value = "<%= book.condition %>" readonly="readonly"> 
                        </div>
     
                        <div class="form-group">
                              <label for="exampleInputEmail1">Shipping Address</label>
                                 <input class="form-control" type = "text" name = "buy[shipping]" value = "<%= data.shipping %>" required> 
                        </div>

                        <div class="form-group">
                                 <label for="exampleInputEmail1">Pincode</label>
                                 <input class="form-control" type = "text" name = "buy[pincode]" value = "<%= data.pincode %>" required> 
                        </div>

                        <div class="form-group">
                                <label for="exampleInputEmail1">City</label>
                                 <input class="form-control" type = "text" name = "buy[city]" value = "<%= data.city %>" required> 
                        </div>
     
                        <div class="form-group">
                                <label for="exampleInputEmail1">Book Price</label>
                                 <input class="form-control" type = "text" name = "buy[price]" value = "<%= book.price %>" readonly="readonly"> 
                        </div>
                        
<!-- readonly="readonly"
                          <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                 <input class="form-control" type = "text" name = "buy[email]" value = "" readonly="readonly"> 
                        </div>
-->
     
                        <div class="form-group">
                                 <input class="form-control" type = "text" name = "buy[phone_no]" value = "<%= data.phone_no %>" readonly="readonly"> 
                        </div>
     
                                             <div class="form-group">
                          <label for="readonly="readonly"Select">Payment Mode</label>
                          <select id="readonly="readonly"Select" class="form-control">
                            <option>Cash On Delivery</option>
                          </select>
                        </div>
       
     
                        <div class="form-group">
                            
                                 <button class="btn btn-default btn-lg showcase-btn btn-block submit-buy"> Confirm! </button>
                        </div>
 
     
 </form>
   <a href="/books/<%= book._id %>">Go back</a>
       </div>
    </div>
</div>


















<% include  ../partials/footer %>