<% include  ../partials/header %> 

     
     <div class = "container container-show">
          <div class="row row-show">

         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-showimg">
             
         
              <div class="thumbnail thumbnail-show">
               <img class="img-responsive" src = "<%= book.image %>">
             </div>
              </div>
              
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-showdesc">
              <h1><%= book.name %></h1>
            <h4>Share <span style="padding:0 5px;"></span><span><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span style="padding:0 5px;"></span><span><i class="fa fa-facebook-official" aria-hidden="true"></i>
</span></h4>
              <h4>Description</h4>
            <p><%= book.description %></p>
              
              
              </div>
              
            <div class="col-lg-3 col-md-3 col-sm-5 sol-xs-12 col-showdetails">
              
              <h2>₹ <%= book.price %></h2>
            
                <hr class="book-divider">
                
             <h4><span><i class="fa fa-truck" aria-hidden="true"></i>
             </span> FREE Delivery Around DTU</h4>
                
            <div><a href="/books/<%= book._id %>/buy" class="btn btn-info btn-lg btn-show" style="margin-bottom:10px">Buy Now</a></div>
            
            
<!--                <div><a href="#" class="btn btn-default btn-lg btn-show" style="background-color:#e7e7e7">Add to Basket</a></div>-->
                
            
                
            
              </div>
         </div>
         <div class="book-details">
         
         <h3>Product Details <span class="plus-details"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></h3>
             <hr class="book-divider">
          <div class="row product-details-row">
             <div class="col-md-6 col-sm-6 col-xs-6">
              <h4>Format: <span><p style="display:inline-block"><%= book.format    %></p></span> </h4> 
               <h4>Pages: <span><p style="display:inline-block"><%= book.pages     %></p></span> </h4> 
             <h4>Condition: <span><p style="display:inline-block"><%= book.condition     %></p></span> </h4> 
                
              </div>
              
              <div class="col-md-6 col-sm-6 col-xs-6">
              <h4>Edition: <span><p style="display:inline-block"><%= book.edition     %></p></span> </h4> 
               <h4>Language: <span><p style="display:inline-block"><%= book.language     %></p></span> </h4> 
             <h4>Publisher: <span><p style="display:inline-block"><%= book.publisher     %></p></span> </h4> 
                
              </div>
             
             </div>
            
         
         </div>
</div>
<% include  ../partials/footer %>