<% include  ../partials/header %> 

     
     <div class = "container">
          <div class="row">

         <div class="col-md-9">
             
         
              <div class="thumbnail thumbnail-show">
               <img class="img-responsive" src = "<%= book.image%>">
               
               <div class="caption-full caption-show">

                     <p> <%= book.name %> </p>
                     <p> by <strong> <%= book.writer%> </strong> </p>
                     
                     <hr>

                     <p> <%= book.description %> </p>
                     


                   <%  if(currentUser && book.author.id.equals(currentUser._id)) { %>




                     <a class="btn btn-default btn-sm showcase-btn" href="/books/<%= book._id %>/edit">Edit</a>
                     
                     <form id="delete-form" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-default btn-sm showcase-btn"> Delete </button>
                     </form>

                   
                   <% } %>


               </div>

              </div>
               
            <div class="well">
              <div class="text-right">
                 
                 <p>
                   <a class="btn btn-default btn-md showcase-btn" href="/books/<%= book._id %>/comments/new"> Add new comment </a>
                 </p>

                <hr>
 

              </div>

              <% book.comments.forEach(function(x){ %>
                  <div class="row">
                      <div class="col-md-12">
 
                          <strong> <%= x.author.username %>  </strong>
                        
                        <span class="pull-right"> 2 days ago </span>
                      </div>
                  </div>
             
                    <p>
                          <%= x.text %> 
                    </p>

                   <% if(currentUser && x.author.id.equals(currentUser._id)) { %>

                    <a 
                    href="/books/<%=book._id%>/comments/<%= x._id%>/edit"
                    class="btn btn-default btn-xs">
                    Edit
                    </a>
                    

                    <form id="delete-form" action="/books/<%=book._id%>/comments/<%=x._id%>?_method=DELETE" method="POST">
                    
                    <input type="submit" class="btn btn-default btn-xs" value="Delete">

                    </form>

                   <% } %>

          <%  }) %>

            </div>
        

    

         </div>
          
          
     </div>
                   
<% include  ../partials/footer %>